/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.stylebtnLogOut{
-fx-background-color: red;
-fx-text-fill:black;
-fx-font-size: 15px;
-fx-font-weight: bold;
}

.styleLabelL1{

-fx-background-color: blue;
-fx-text-fill:white;
-fx-font-size: 24px;
-fx-background-radius:15px;
}

.styleLabelL2{

-fx-background-color: green;
-fx-text-fill:white;
-fx-font-size: 16px
}

.stylebackground{

-fx-background-color: green;
-fx-text-fill:white;
}


.styleTitle{
-fx-font-family: "Lucida Console","Courier New", sans-serif;
-fx-text-fill:white;
-fx-font-weight: bold;
}


.styleLable{
-fx-font-family: "Times New Roman", Times, serif;
-fx-text-fill:white;
-fx-font-weight: bold;
}