/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.btnLogOut{
-fx-background-color: red;
-fx-text-fill:white;
-fx-font-size: 18px
}

.styleLabelL1{

-fx-background-color: blue;
-fx-text-fill:white;
-fx-font-size: 24px;
-fx-background-radius:15px;
}

.styleLabelL2{

-fx-background-color: green;
-fx-text-fill:white;
-fx-font-size: 16px
}

.stylebackground{

-fx-background-color: green;
-fx-text-fill:white;
}


.styleLabel{
-fx-text-fill:white;
}